  <div class="row" ng-controller="ProjectsCtrl">
    <div class="col-md-2">
      <div>
        <h5><i>Список проектів:</i></h5>
        <ul ng-repeat="project in projects">
          <a class="btn btn-link" href="#" role="button">{{project.name}}</a>
        </ul>
      </div>
      <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Add new project
      </button>
    </div>
    <div class="slide-animate" ng-include="'assets/angular/views/projects/project.html'">
    </div>
  </div>