  <div class="row">
    <div class="col-md-2" >
      <div>
        <h5><i>Список проектів:</i></h5>
        <ul>
          <li>проект 1</li>
          <li>проект 2</li>
          <li>проект 3</li>
          <li>проект 4</li>
          <li>проект 5</li>
        </ul>
      </div>
      <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Add new project
      </button>
    </div>
    <div class="slide-animate" ng-include="'assets/angular/views/projects/project.html'">
    </div>
  </div>