  <div class="col-md-1">
    <a href="/projects" class="btn btn-link">
      <span class="glyphicon glyphicon-backward"> Back</span>
    </a>
  </div>
  <div class="col-md-11">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-tasks"></span> {{project.name}}
          <div class="pull-right">
            <button type="button" class="btn btn-primary btn-xs" ng-click="editProject()">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </h3>
      </div>
      <div class="slide-animate" ng-include="'assets/angular/views/tasks/tasks.html'">
      </div>
    </div>
    <p>
      <div class="well well-sm" ng-show="editingProject">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Edit project">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Click to Add</button>
          </span>
        </div>
      </div>
    </p>
  </div>