<h2 class="text-center">Todo lists</h2>

<div class="container" ng-app='todoList'>
  <div class="slide-animate" ng-include="'assets/angular/views/projects/projects.html'">
  </div>
  <div class="col-md-1"></div>
</div>