<div class="col-md-4">
  <div class="well">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Edit task here">
      <input type="text" class="form-control" placeholder="Edit deadline here">
    </div>
    <p>
      <div class="row"></br>
        <div class ="col-sm-4"></div>
        <div class ="col-sm-4">
          <button class="btn btn-warning active" type="button">Save</button>
        </div>
        <div class ="col-sm-4"></div>
      </div>
    </p>
  </div>
</div>