<div class="col-md-4">
  <div class="well">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">change</button>
      </span>
      <input type="text" class="form-control" placeholder="Edit task here">
    </div>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">change</button>
      </span>
      <input type="text" class="form-control" placeholder="Edit deadline here" >
    </div>
  </div>
</div>